.container__main {
  margin: 3em auto 0;
  width: 30%;
}

.content__text{
  text-align: center;
  font-size: .90rem;
  font-family: roboto, Geneva, Tahoma, sans-serif;
}

.content__search{
  margin: 0 auto 1em;
  width: 100%;
  padding: .5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: .75rem;
  font-family: roboto, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-width: 750px) {
  .container__main {
    width:25%;
  }
}